<h3>Messages for: <%= handle %></h3>

<script src="http://64.30.137.73/socket.io/socket.io.js"></script> 
<script> 
var socket = new io.Socket(null); 
socket.connect();
socket.on('connect', function(){
	socket.send({event: 'loaded', handle: <%= handle %>});
});
socket.on('message', function(message){
	console.log('Message: ' + message);
});
socket.on('disconnect', function(){
	console.log('disconnnect');
});
console.log('tried to connect with socket: ' + socket.connected.toString());
</script>