<script src="http://64.30.137.73/socket.io/socket.io.js"></script> 
<script>
google.setOnLoadCallback(function() {	
	function send(){
		var tex = $('#message').val();
		$('#message').val('');
		var target = $('#target').val();
		console.log('sending : ' + tex);
		var obj = {message: tex, target: target, handle: '<%= handle %>'};
		socket.send(obj);
		addMessage(obj);
	}
	
	$(".button").click(function() {
		send();
	});
	
	$("#message").live('keypress', function(e){
		if(e.keyCode == 13){
			send();
		}
	});
	
	function addMessage(obj){
		var from = obj.handle;
		var d = new Date();
		var when = obj.when || d.toString();
		var msg = esc(obj.message);
		$('#messageList').append('<li> ' + from + '( ' + when + '): ' + msg + '</li>');
	}
	
	function esc(msg){
		return msg.replace(/</g, '&lt;').replace(/>/g, '&gt;');
  }

	var socket = new io.Socket(null); 
	socket.connect();
	socket.on('connect', function(){
		socket.send({event: 'loaded', handle: "<%= handle %>"});
	});
	socket.on('message', function(obj){
		addMessage(obj);
	});
	socket.on('disconnect', function(){
		console.log('disconnnect');
	});
});
</script>

<h3>Messages for: <%= handle %></h3>
<ul id="messageList">
</ul>

<div id="form">
	target: <input type="text" id="target" autocomplete="off" />
	text: <input class="widebox" type="text" id="message" autocomplete="off" /><br/>
	<input class="button" type="submit" value="send" />
</div>