<script src="http://64.30.137.73/socket.io/socket.io.js"></script> 
<script>
google.setOnLoadCallback(function() {	
	function send(){
		var val = $('#text').val();
		var target = $('#target').val();
		socket.send({message: val, target: target, handle: '<%= handle %>'});
		var d = new Date();
		addMessage({ when: d.toString(), from: 'you', msg: val});
		$('#text').val('');
		$('#target').val('');
  }
	$(".button").click(function() {
		send();
	});
	
	function addMessage(obj){
		var from = obj.from;
		var when = obj.when;
		var msg = esc(obj.message);
		$('#messageList').append('<li> ' + from + '( ' + when + '): ' + msg + '</li>');
	}
	
	function esc(msg){
		return msg.replace(/</g, '&lt;').replace(/>/g, '&gt;');
  }

	var socket = new io.Socket(null); 
	socket.connect();
	socket.on('connect', function(){
		socket.send({event: 'loaded', handle: "<%= handle %>"});
	});
	socket.on('message', function(message){
		console.log('Message: ' + message.message);
	});
	socket.on('disconnect', function(){
		console.log('disconnnect');
	});
});
</script>

<h3>Messages for: <%= handle %></h3>
<ul id="messageList">
</ul>

<form id="form" action="">
	target: <input type="text" id="target" autocomplete="off" /><br/>
	text: <input type="text" id="text" autocomplete="off" /><br/>
	<input class="button" type="submit" value="send" />
</form>